body {
    background-color: #1a1a1a; /* Couleur de fond sombre */
    color: #fff; /* Texte blanc */
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #000; /* Fond de l'en-tête noir */
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.artwork {
    background-color: #2b2b2b; /* Fond sombre pour chaque œuvre d'art */
    border: 1px solid #444;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.artwork img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
}

#next-artwork-arrow, #prev-artwork-arrow {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    padding: 50px 50px;
}

#next-artwork-arrow {
    right: 50px;
}

#prev-artwork-arrow {
    left: 50px;
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .artwork {
        width: 100%;
        margin: 10px 0;
    }

    #next-artwork-arrow, #prev-artwork-arrow {
        font-size: 20px;
        padding: 30px 30px;
        top: auto;
        bottom: 20px;
        transform: translateY(0);
    }
}
